body {background-color: #0A0A0A;}
h1 {
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1rem;
    color: #fff;
}
h2 {
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;  
    color: #5d5d5d;
}
@media (min-width: 440px) {
.item {
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    background-color: aqua;
}
}
.title {
    z-index: 1;
    position: fixed;
    top: 1.7%;
    left: 0.7%;
}
.title :nth-child(2)  {
    margin-top: 4%;
}