* {text-decoration: none;}
a {color: #DADADA;}
body {background-color: #0A0A0A;}
h1 {font-family: Montserrat,sans-serif; font-style: normal; font-weight: 500; color: #DADADA;}
h2 {font-family: Montserrat,sans-serif; font-style: normal; font-weight: 500; color: #5d5d5d;}
.title {z-index: 1; position: fixed; top: 1.7%; left: 0.7%; font-size: 0.8rem; line-height: 1rem;}
.title :nth-child(2)  {margin-top: 4%; font-size: 1rem; line-height: 1rem; }
@media (min-width: 440px) {
.item {
    width: 350px;
    height: 269px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    background-color: #101010;
}
}
.item-title {margin: 5% 0 5% 3%; font-size: 0.8rem; line-height: 1rem;}
.item-title :nth-child(2)  {margin-top: 2.5%; font-size: 1rem; line-height: 1rem;}


.item-links {
    padding-top: 4%;
    max-width: 99.5%;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.7rem;
    background-color: #101010;  
}
.item-links div {
    padding-bottom: 4.4%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 12px;
    text-align: center;
    color: #808191;
    white-space: nowrap; 
}
.link4 {
    background-color: #131313;
}
.link1 img, .link2 img, .link3 img, .link4 img, .link5 img, .link6 img {
    width: 60px;
    height: 60px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.item-links div:hover{
    background-color: #131313;
}