.container {
    position: relative;
    z-index: 2;
}

.item-links {
    max-width: 50%;
    margin: 0 auto;
    background-color: #1e1e1e;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "link1 link2 link3"
                         "link4 link5 link6";
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
}
.link1 {
    grid-area: link1;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #808191;
    white-space: nowrap;
}
.link1 img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.link2 {
    grid-area: link2;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #808191;
    white-space: nowrap;
}
.link2 img {
    width: 60px;
    height: 60px;
    background: #191919;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.link3 {
    grid-area: link3;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #808191;
    white-space: nowrap;
}
.link3 img {
    width: 60px;
    height: 60px;
    background: #191919;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.link4 {
    grid-area: link4;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #808191;
    white-space: nowrap;
}
.link4 img {
    width: 60px;
    height: 60px;
    background: #191919;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.link5 {
    grid-area: link5;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #808191;
    white-space: nowrap;
}
.link5 img {
    width: 60px;
    height: 60px;
    background: #191919;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.link6 {
    grid-area: link6;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #808191;
    white-space: nowrap;
}
.link6 img {
    width: 60px;
    height: 60px;
    background: #191919;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.link-title {
    color: #fff;
}
/* .shadow {
    position: absolute;
    width: 100%;
    height: 175%;
    box-shadow:0 0 20px #555;
} */


/* @media (min-width: 440px) {
    .item {
        width: 350px;
        height: 350px;
        position: absolute;
        top: 34.5%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: auto;
}}
@media (max-width: 440px) {
    .item {
        width: calc(100% - 100px);
        height: 300px;
        border-radius: 1px;
        margin: 30px auto;
        top: 30%;
        left: 50%;
        margin-top: 40%;
}} */




/* max440 .link-card__card {
    background: #191919;
    width: calc(100% - 20px);
    border-radius: 24px;
    margin: 10px auto; */

/* .item {
    background-color: #5D5D5D;
    width: 320px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
} */

/* body::before {
content: "";
position: fixed;
background: var(--main-bg);
background: var(--selection-background);
background-size: cover;
background-position: fixed;
background-repeat: no-repeat;
background-attachment: fixed;
z-index: -1;
height: 100vh;
width: 100%;
filter: blur(18px);
-webkit-filter: blur(18px);
overscroll-behavior: contain;
} */


.area{
    position: absolute;
    background: #131313;
    background: -webkit-linear-gradient(to left, #131313, #2b2b2b);  
    width: 100%;
    height: 100vh;
    z-index: 1;
}
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 30%;
    }

}