@media (max-width: 1920px) {
    html { font-size: 16px; }
}
@media (max-width: 1440px) {
    html { font-size: 13px;}
}
@media (max-width: 768px) {
    html { font-size: 10px; }
}
@media (max-width: 414px) {
    html { font-size: 6px; }
}
@media (max-width: 360px) {
    html { font-size: 6px; }
}