@import 'reboot.css';
@import 'index.css';
@import 'responsive.css';
@import 'background.css';

@font-face {
    font-family: 'pp_neuebitbold';
    src: url('../fonts/ppneuebit-webfont.woff2') format('woff2'),
         url('../fonts/ppneuebit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
