body {background-color: #0A0A0A;}
h1 {font-family: "SF Pro Display", sans-serif; font-style: normal; font-weight: 600; color: #DADADA;}
h2 {font-family: "SF Pro Display", sans-serif; font-style: normal; font-weight: 300; color: #DADADA;}
h3 {font-family: "SF Pro Display", sans-serif; font-style: normal; font-weight: 300; color: #DADADA;}
a {text-decoration: none;}

@font-face {
    font-family:'SF Pro Display';
    font-style:normal;
    font-weight:300;
    src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_light.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_light.ttf") format("truetype");
}
@font-face {
    font-family:'SF Pro Display';
    font-style:normal;
    font-weight:400;
    src:url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_regular.eot");
    src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_regular.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_regular.ttf") format("truetype");
}
@font-face {
    font-family:'SF Pro Display';
    font-style:normal;
    font-weight:600;
    src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_semibold.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_semibold.ttf") format("truetype");
}



.tags-index div {
    border: 1px dashed #515151
}


.block2 {
    margin: 0 auto;
    max-width: 70%;;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 0.5f 0.5fr; 
    grid-template-areas: 
      "tags"
      "startup"; 
}
.tags-index {
    grid-area: tags;
}
.startup-index {
    grid-area: startup;
}
.ctrl-a {
    width: 8%;
    max-height: 1%;
    border: 1.5px solid #515151;
    border-radius: 42.1569px;
}

h4 {font-family: "SF Pro Display", sans-serif; font-style: normal; font-weight: 300; color: #DADADA;}