body {background-color: #0A0A0A;}
h1 {font-family: "SF Pro Display", sans-serif; font-style: normal; font-weight: 600; color: #DADADA;}
h2 {font-family: "SF Pro Display", sans-serif; font-style: normal; font-weight: 300; color: #DADADA;}
a {text-decoration: none;}
h3 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: 400;
}
h4 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}
h5 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

@font-face {
    font-family:'SF Pro Display';
    font-style:normal;
    font-weight:300;
    src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_light.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_light.ttf") format("truetype");
}
@font-face {
    font-family:'SF Pro Display';
    font-style:normal;
    font-weight:400;
    src:url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_regular.eot");
    src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_regular.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_regular.ttf") format("truetype");
}
@font-face {
    font-family:'SF Pro Display';
    font-style:normal;
    font-weight:600;
    src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_semibold.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_semibold.ttf") format("truetype");
}






.block2 {
    padding-top: 3%;
    margin: 0 auto;
    max-width: 64.5%;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 0.5f 0.5fr; 
    grid-template-areas: 
      "tags"
      "startup"; 
}
.tags-index {
    grid-area: tags;
}
.startup-index {
    grid-area: startup;
    margin: 0 auto;
}
.tags-index1 {
    display: flex;
    flex-direction: row;
    padding-bottom: 1%;
    justify-content: center;
}
.tags-index2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tags-index div {
    margin-right: 1%;
}
.tags-index a {
    margin-right: 1%;
}
.tags-index1-1 h3 {
    height: 50px;
    width: 119px;
    border: 2.5px solid #515151;
    border-radius: 42px;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "SF Pro Display", sans-serif; 
    font-style: normal; 
    color: #515151;
    position: relative;
    display: grid;
    place-items: center;
}
.tags-index1-2 h3 {
    height: 50px;
    width: 153px;
    border: 2.5px solid #515151;
    border-radius: 42px;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "SF Pro Display", sans-serif; 
    font-style: normal; 
    color: #515151;
    display: grid;
    place-items: center;
}
.tags-index1-3 h3 {
    height: 50px;
    width: 166px;
    border: 2.5px solid #515151;
    background-color: #515151;
    border-radius: 42px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "SF Pro Display", sans-serif; 
    font-style: normal; 
    color: #0A0A0A;
    display: grid;
    place-items: center;
}
.tags-index1-3 h3:hover {
    background-color: #CBFB45;
    border: 2.5px solid #CBFB45;
}
.tags-index1-4 h3 {
    height: 50px;
    width: 124px;
    border: 2.5px solid #515151;
    border-radius: 42px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "SF Pro Display", sans-serif; 
    font-style: normal; 
    color: #515151;
    display: grid;
    place-items: center;
}
.tags-index1-5 h3 {
    height: 50px;
    width: 158px;
    border: 2.5px solid #515151;
    border-radius: 42px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "SF Pro Display", sans-serif; 
    font-style: normal; 
    color: #515151;
    display: grid;
    place-items: center;
}
.tags-index1-6 h3 {
    height: 50px;
    width: 132px;
    border: 2.5px solid #515151;
    background-color: #515151;
    border-radius: 42px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "SF Pro Display", sans-serif; 
    font-style: normal; 
    color: #0A0A0A;
    display: grid;
    place-items: center;
}
.tags-index1-6 h3:hover {
    background-color: #CBFB45;
    border: 2.5px solid #CBFB45;
}
.tags-index1-7 h3 {
    height: 50px;
    width: 125px;
    border: 2.5px solid #515151;
    border-radius: 42px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "SF Pro Display", sans-serif; 
    font-style: normal; 
    color: #515151;
    display: grid;
    place-items: center;
}
.tags-index1-8 h3 {
    height: 50px;
    width: 125px;
    border: 2.5px solid #515151;
    border-radius: 42px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "SF Pro Display", sans-serif; 
    font-style: normal; 
    color: #515151;
    display: grid;
    place-items: center;
}
.tags-index2-1 h3 {
    height: 50px;
    width: 132px;
    border: 2.5px solid #515151;
    background-color: #515151;
    border-radius: 42px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "SF Pro Display", sans-serif; 
    font-style: normal; 
    color: #0A0A0A;
    display: grid;
    place-items: center;
}
.tags-index2-1 h3:hover {
    background-color: #CBFB45;
    border: 2.5px solid #CBFB45;
}
.tags-index2-1 h3 {
    height: 50px;
    width: 140px;
    border: 2.5px solid #515151;
    background-color: #515151;
    border-radius: 42px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "SF Pro Display", sans-serif; 
    font-style: normal; 
    color: #0A0A0A;
    display: grid;
    place-items: center;
}
.tags-index2-2 h3 {
    height: 50px;
    width: 178px;
    border: 2.5px solid #515151;
    border-radius: 42px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "SF Pro Display", sans-serif; 
    font-style: normal; 
    color: #515151;
    display: grid;
    place-items: center;
}
.tags-index2-3 h3 {
    height: 50px;
    width: 132px;
    border: 2.5px solid #CBFB45;
    background-color: #CBFB45;
    border-radius: 42px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "SF Pro Display", sans-serif; 
    font-style: normal; 
    color: #0A0A0A;
    display: grid;
    place-items: center;
}
.tags-index2-3 h3:hover {
    background-color: #515151;
    border: 2.5px solid #515151;
}
.tags-index2-4 h3 {
    height: 50px;
    width: 170px;
    border: 2.5px solid #515151;
    background-color: #515151;
    border-radius: 42px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "SF Pro Display", sans-serif; 
    font-style: normal; 
    color: #0A0A0A;
    display: grid;
    place-items: center;
}
.tags-index2-4 h3:hover {
    background-color: #CBFB45;
    border: 2.5px solid #CBFB45;
}
.tags-index2-5 h3 {
    height: 50px;
    width: 136px;
    border: 2.5px solid #515151;
    border-radius: 42px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "SF Pro Display", sans-serif; 
    font-style: normal; 
    color: #515151;
    display: grid;
    place-items: center;
}
.tags-index2-6 h3 {
    height: 50px;
    width: 163px;
    border: 2.5px solid #515151;
    border-radius: 42px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "SF Pro Display", sans-serif; 
    font-style: normal; 
    color: #515151;
    display: grid;
    place-items: center;
}




.startup-text-index {
    padding-top: 18%;
}
.startup-text-index h4 {
    font-size: 5.5rem;
    text-align: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: "SF Pro Display", sans-serif; 
    font-style: normal; 
    font-weight: 400; 
    color: #DADADA;
}
.startup-text-index h5 {
    padding-top: 4%;
    font-size: 1.55rem;
    line-height: 1.8rem;
    letter-spacing: 0.07rem;
    text-align: center;
    font-family: "SF Pro Display", sans-serif; 
    font-style: normal; 
    font-weight: 300; 
    color: #DADADA;
}
.startup-email-index {
    padding-top: 6%;
}
.email-form {
    position: relative;
    max-width: 46.5%;
    margin: 0 auto;
}
.input-email {
    color: #DADADA;
    min-width: 420px;
    min-height: 50px;
    border: 1.5px solid #DADADA;
    border-radius: 42.1569px;
    background-color: #0A0A0A;
}
input[placeholder] {
    padding-left: 5%;
    font-size: 1.8rem;
}
.input-email::-webkit-input-placeholder {
    color: #5d5d5d;
}
button {
    outline: none;
    border: 0;
    background: transparent;
    position: absolute;
    top: 13%;
    right: 3%;
}