body {
    background-color: #0a0a0a;
    overflow-x: hidden;
}

.content {
    position: relative;
    z-index: 9;
    padding: 2% 4%;
}

.mail-text-index {
    padding-top: 12%;
}

.mail-text-index h4 {
    font-size: 5rem;
    line-height: 5.5rem;
    font-weight: 400;
    color: #fff;
}
.mail-text-index h5 {
    padding-top: 21%;
    font-size: 2.8rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #fff;
}
.mail-text-index h6 {
    padding-top: 1.5%;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 300;
    color: #fff;
}

.back-keyboards {
    position: absolute;
    left: 30.1%;
    top: 0%;
}




    /* .mail-text-index h5 {
        padding-top: 3%;
        font-size: 1.55rem;
        line-height: 1.8rem;
        letter-spacing: 0.07rem;
        text-align: center;
        font-weight: 300;
        color: #fff;
    } */