$black: #0a0a0a;
$white: #eee;
$white-dark: #b4b4b4;
$grey: #595959;
$green: #cbfb45;

$black-hov: #141414;
$white-hov: #868686;
$black2: #1e1e1e;

/**
   ** style items
*/

html.about {
   scroll-behavior: smooth;
}

body.about {
   background-color: $black;
   font-family: 'IBM Plex Sans', sans-serif;
   font-style: normal;

   &::-webkit-scrollbar {
      position: absolute;
      width: 17px;
   }
   &::-webkit-scrollbar-track {
      background: $black2;
   }
   &::-webkit-scrollbar-thumb {
      background-color: $grey;
   }

   & a {
      color: $white;
   }

   & h4 {
      color: $white;
      font-size: 1.15vw;
      font-weight: 200;
      text-align: center;
   }

   & h5 {
      color: $white;
      font-size: 2.5vw;
      font-weight: 500;
      text-align: center;
      letter-spacing: 0.1vw;

      & b {
         font-size: 3vw;
         font-weight: 450;
         font-style: italic;
         color: $green;

         &:hover {
            color: $grey;
         }
      }
   }

   .title-main {
      padding: 15vw 0 2.5vw 0;
      margin: 0 auto;

      & h5 {
         padding-top: 2.5vw;
         line-height: 135%;
      }
   }

   .img-main {
      margin: 0 auto;
      max-width: 93vw;

      & img {
         width: 100%;
      }

      &:hover {
         transition: 0.5s ease-in-out;
         transform: scale(1.01);
      }
   }

   .title-research {
      padding: 15vw 0 3.5vw 0;
      margin: 0 auto;

      & h5 {
         padding-top: 2.5vw;
         line-height: 115%;
      }
   }

   .img-research {
      margin: 0 auto;
      max-width: 34vw;

      & img {
         width: 100%;
      }

      &:hover {
         transition: 0.5s ease-in-out;
         transform: scale(1.01);
      }
   }

   .title-often {
      padding: 15vw 0 3.5vw 0;
      margin: 0 auto;

      & h4 {
         padding-top: 2.5vw;
         line-height: 1.5vw;

         & span {
            font-weight: 450;
            font-style: italic;
            color: $green;
            text-transform: uppercase;

            &:hover {
               color: $grey;
            }
         }
      }

      & h5 {
         line-height: 115%;
      }
   }

   .img-often {
      margin: 0 auto;
      max-width: 74.5vw;

      & img {
         width: 100%;
      }

      &:hover {
         transition: 0.5s ease-in-out;
         transform: scale(1.01);
      }
   }

   .title-team {
      padding: 15vw 0 3.5vw 0;
      margin: 0 auto;

      & h5 {
         padding-top: 2.5vw;
         line-height: 115%;
      }
   }

   @mixin itemTeam($w, $h, $b, $br) {
      width: $w;
      height: $h;
      outline: $b;
      border-radius: $br;
   }

   .items-team {
      padding-top: 1vw;
      margin: 0 auto;
      width: 94vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .item-bozhik {
         position: relative;
         background-color: $green;
         @include itemTeam(22.6vw, 15.78vw, 1.5px solid $grey, 0.25vw);

         &:hover {
            padding: 0;
            background-image: url('../img/team-bozhik.png');
            background-size: cover;
            outline: 0px;
         }

         &:hover h1 {
            display: none;
         }

         &:hover .item-bozhik-info {
            visibility: visible;
         }

         & h1 {
            margin: 1.25vw;
            color: $black;
            font-size: 3.13vw;
            font-weight: 500;
            line-height: 75%;
         }

         .item-bozhik-info {
            visibility: hidden;
            width: 100%;
            max-height: 100%;
            position: absolute;

            & h2 {
               margin: 1.25vw;
               color: $white;
               font-size: 1.15vw;
               font-weight: 400;
               line-height: 1.3vw;
               letter-spacing: -0.03em;
            }
            & h3 {
               padding-top: 0.5vw;
               margin: 1.25vw;
               color: $green;
               font-size: 3.13vw;
               font-weight: 500;
               font-style: italic;
               line-height: 100%;
            }
         }
      }

      .item-day {
         position: relative;
         @include itemTeam(22.6vw, 15.78vw, 1.5px solid $grey, 0.25vw);

         &:hover {
            padding: 0;
            background-image: url('../img/team-day.png');
            background-size: cover;
            outline: 0px;
         }

         &:hover h1 {
            display: none;
         }

         &:hover .item-day-info {
            visibility: visible;
         }

         & h1 {
            margin: 1.25vw;
            color: $white;
            font-size: 3.13vw;
            font-weight: 500;
            line-height: 75%;
         }

         .item-day-info {
            visibility: hidden;
            width: 100%;
            max-height: 100%;
            position: absolute;

            & h2 {
               margin: 1.25vw;
               color: $white;
               font-size: 1.15vw;
               font-weight: 400;
               line-height: 1.3vw;
               letter-spacing: -0.03em;
            }
            & h3 {
               padding-top: 0.5vw;
               margin: 1.25vw;
               color: $green;
               font-size: 3.13vw;
               font-weight: 500;
               font-style: italic;
               line-height: 100%;
            }
         }
      }

      .item-gulevich {
         position: relative;
         background-color: $green;
         @include itemTeam(22.6vw, 15.78vw, 1.5px solid $grey, 0.25vw);

         &:hover {
            padding: 0;
            background-image: url('../img/team-gulevich.png');
            background-size: cover;
            outline: 0px;
         }

         &:hover h1 {
            display: none;
         }

         &:hover .item-gulevich-info {
            visibility: visible;
         }

         & h1 {
            margin: 1.25vw;
            color: $black;
            font-size: 3.13vw;
            font-weight: 500;
            line-height: 75%;
         }

         .item-gulevich-info {
            visibility: hidden;
            width: 100%;
            max-height: 100%;
            position: absolute;

            & h2 {
               margin: 1.25vw;
               color: $white;
               font-size: 1.15vw;
               font-weight: 400;
               line-height: 1.3vw;
               letter-spacing: -0.03em;
            }
            & h3 {
               padding-top: 0.5vw;
               margin: 1.25vw;
               color: $green;
               font-size: 3.13vw;
               font-weight: 500;
               font-style: italic;
               line-height: 100%;
            }
         }
      }

      .item-kaem {
         position: relative;
         @include itemTeam(22.6vw, 15.78vw, 1.5px solid $grey, 0.25vw);

         &:hover {
            padding: 0;
            background-image: url('../img/team-kaem.png');
            background-size: cover;
            outline: 0px;
         }

         &:hover h1 {
            display: none;
         }

         &:hover .item-kaem-info {
            visibility: visible;
         }

         & h1 {
            margin: 1.25vw;
            color: $white;
            font-size: 3.13vw;
            font-weight: 500;
            line-height: 75%;
         }

         .item-kaem-info {
            visibility: hidden;
            width: 100%;
            max-height: 100%;
            position: absolute;

            & h2 {
               margin: 1.25vw;
               color: $white;
               font-size: 1.15vw;
               font-weight: 400;
               line-height: 1.3vw;
               letter-spacing: -0.03em;
            }
            & h3 {
               padding-top: 0.5vw;
               margin: 1.25vw;
               color: $green;
               font-size: 3.13vw;
               font-weight: 500;
               font-style: italic;
               line-height: 100%;
            }
         }
      }
   }

   .title-form {
      padding: 15vw 0 3.5vw 0;
      margin: 0 auto;

      & h5 {
         padding-top: 2.5vw;
         line-height: 115%;
      }
   }
}