$black: #0a0a0a;
$white: #eee;
$white-dark: #b4b4b4;
$grey: #595959;
$green: #cbfb45;

$black-hov: #141414;
$white-hov: #868686;
$black2: #1e1e1e;

/**
   ** style items
*/

html.about {
   scroll-behavior: smooth;
}

body.about {
   background-color: $black;
   font-family: 'IBM Plex Sans', sans-serif;
   font-style: normal;

   &::-webkit-scrollbar {
      position: absolute;
      width: 17px;
   }
   &::-webkit-scrollbar-track {
      background: $black2;
   }
   &::-webkit-scrollbar-thumb {
      background-color: $grey;
   }

   & a {
      color: $white;
   }

   & h4 {
      font-size: 1.15vw;
      font-weight: 200;
      color: $white;
      text-align: center;
   }

   & h5 {
      font-size: 2.5vw;
      color: $white;
      font-weight: 500;
      text-align: center;
      letter-spacing: 0.1vw;

      & b {
         font-size: 3vw;
         font-weight: 450;
         font-style: italic;
         color: $green;

         &:hover {
            color: $grey;
         }
      }
   }

   .title-main {
      padding: 15vw 0 2.5vw 0;
      margin: 0 auto;

      & h5 {
         padding-top: 2.5vw;
         line-height: 135%;
      }
   }

   .img-main {
      margin: 0 auto;
      max-width: 93vw;

      & img {
         width: 100%;
      }

      &:hover {
         transition: 0.5s ease-in-out;
         transform: scale(1.01);
      }
   }

   .title-research {
      padding: 15vw 0 3.5vw 0;
      margin: 0 auto;

      & h5 {
         padding-top: 2.5vw;
         line-height: 115%;
      }
   }

   .img-research {
      margin: 0 auto;
      max-width: 34vw;

      & img {
         width: 100%;
      }

      &:hover {
         transition: 0.5s ease-in-out;
         transform: scale(1.01);
      }
   }

   .title-often {
      padding: 15vw 0 3.5vw 0;
      margin: 0 auto;

      & h4 {
         padding-top: 2.5vw;
         line-height: 1.5vw;

         & span {
            font-weight: 450;
            font-style: italic;
            color: $green;
            text-transform: uppercase;

            &:hover {
               color: $grey;
            }
         }
      }

      & h5 {
         line-height: 115%;
      }
   }

   .img-often {
      margin: 0 auto;
      max-width: 74.5vw;

      & img {
         width: 100%;
      }

      &:hover {
         transition: 0.5s ease-in-out;
         transform: scale(1.01);
      }
   }

   .title-team {
      padding: 15vw 0 3.5vw 0;
      margin: 0 auto;

      & h5 {
         padding-top: 2.5vw;
         line-height: 115%;
      }
   }
}

@mixin itemConfig($w, $h, $c, $bc, $b, $br, $fs, $fw) {
   width: $w;
   height: $h;
   color: $c;
   background-color: $bc;
   border: $b;
   border-radius: $br;
   font-size: $fs;
   font-weight: $fw;
}
@include itemConfig(7.4vw, 2.6vw, $white, transparent, 1.5px solid $grey, 0.25vw, 1vw, 600);

//

//
//
//
//
// body.index {

//    .block-main {
//       margin: 2.5vw;
//       display: flex;
//       flex-direction: column;
//    }

//    .block-main-header {
//       display: flex;
//       justify-content: space-between;
//    }

//    .block-main-shortcut {
//       color: $white;

//       & div {
//          margin: 4vw auto 10vw auto;
//          font-size: 20vw;
//          text-align: center;
//          animation: change-text 3.5s infinite;
//          // animation-play-state: running;
//          cursor: help;

//          &:hover {
//             // animation-play-state: paused;
//             color: $green;
//          }
//       }

//       @keyframes change-text {
//          10% {
//             font-weight: 300;
//             font-style: normal;
//             text-decoration: none;
//             text-transform: none;
//          }

//          20% {
//             font-weight: 500;
//             font-style: italic;
//             text-decoration: underline;
//             text-decoration-thickness: 0.6rem;
//             text-underline-offset: 2rem;
//             text-transform: capitalize;
//          }

//          30% {
//             font-weight: 200;
//             font-style: normal;
//             text-decoration-line: line-through;
//             text-decoration-thickness: 0.7rem;
//             text-transform: none;
//          }

//          40% {
//             font-weight: 600;
//             font-style: italic;
//             text-decoration: none;
//             text-transform: lowercase;
//          }

//          50% {
//             font-weight: 100;
//             font-style: italic;
//             text-decoration-line: line-through;
//             text-decoration-thickness: 0.7rem;
//             text-transform: none;
//          }

//          60% {
//             font-weight: 700;
//             font-style: normal;
//             text-decoration: none;
//             text-transform: lowercase;
//          }

//          70% {
//             font-weight: 400;
//             font-style: italic;
//             text-decoration: underline;
//             text-decoration-thickness: 0.7rem;
//             text-underline-offset: 3rem;
//             text-transform: capitalize;
//          }
//       }
//    }

//    .block-main-text {
//       display: flex;
//       justify-content: space-between;

//       & h2 {
//          font-size: 1.3vw;
//          line-height: 1vw;
//          font-weight: 400;
//          color: $white;

//          &:hover {
//             color: $green;
//             text-decoration: underline;
//          }
//       }
//    }

//    #mail-target {
//       margin-top: 5vw;
//    }

//    .block-form {
//       padding-top: 1vw;
//       margin: 0 auto 7vw auto;

//       .menu {
//          .items-menu {
//             .item-menu1 {
//                & h3 {
//                   @include itemOpenConfig($black, $green, 1.5px solid $green, 600, italic);
//                }
//             }
//          }
//       }

//       .mail-index {
//          padding: 0 5.5vw;

//          .mail-text-index {
//             padding-top: 8vw;
//             padding-bottom: 6vw;

//             & h4 {
//                font-size: 4vw;
//                text-align: center;
//                font-weight: 400;
//                color: $white;

//                & b {
//                   color: $green;
//                   & :hover {
//                      text-decoration: underline;
//                   }
//                }
//             }

//             & h5 {
//                padding-top: 3%;
//                font-size: 1.5vw;
//                line-height: 1.8vw;
//                text-align: center;
//                font-weight: 300;
//                color: $white;

//                & b {
//                   color: $green;
//                   & :hover {
//                      text-decoration: underline;
//                   }
//                }
//             }
//          }

//          .mail-input-index {
//             margin: 0 auto;
//             width: 25vw;
//             position: relative;
//          }

//          .email-form {
//             width: 100%;
//             display: flex;
//             justify-content: space-between;
//             position: relative;

//             .input-email {
//                color: $white;
//                width: 25vw;
//                height: 2.6vw;
//                border: 1.5px solid $grey;
//                border-radius: 5px;
//                background-color: $black;
//             }

//             input[placeholder] {
//                padding-left: 0.8vw;
//                font-size: 1.8vw;
//             }

//             .input-email::-webkit-input-placeholder {
//                color: $grey;
//             }

//             button {
//                width: 2.03vw;
//                height: 2.03vw;
//                outline: none;
//                border: 0;
//                background: transparent;
//                position: absolute;
//                top: 0.3vw;
//                right: 0.3vw;
//             }

//             #email-form-done {
//                position: absolute;
//                padding-top: 3%;
//                margin: 0.5vw 8.3vw;
//                font-size: 1vw;
//                font-style: normal;
//                font-weight: 300;
//                color: $green;
//             }
//          }
//       }
//    }

//    .footer {
//       padding: 2.5vw 0 1.5vw 0;
//    }
// }
