body.index {
   font-family: 'Inter', sans-serif;
   background-color: var(--black);

   .wrapper {
      margin: 3vw auto 3vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      svg {
         #vector {
            fill: var(--white);
         }

         &:hover #vector {
            fill: var(--some);
         }
      }

      .links {
         margin: 10vw auto;
         display: flex;
         flex-direction: column;
         align-items: center;

         a {
            font-size: 3vw;
            font-weight: 500;
            line-height: 120%;
            text-decoration: none;
            color: var(--white);

            &:hover {
               color: var(--some);
               transform: scale(1.1);
               transition: transform 0.5s ease-in-out, color 0.1s ease;
            }
         }
      }

      .caption {
         h1 {
            font-size: 1vw;
            font-weight: 400;
            color: var(--some);
         }
      }
   }
}
