body.training {
   background-color: black;
   font-family: 'IBM-PlexSans', sans-serif;
   font-style: normal;

   .wrapper {
      padding: 0% 2% 2% 0%;

      h2 {
         margin-top: 5vw;
         text-align: center;
         color: white;
         font-size: 1.5vw;
         font-weight: 400;
         line-height: 120%;
         letter-spacing: -0.03em;
      }

      h3 {
         margin-top: 5vw;
         text-align: center;
         color: white;
         font-size: 1.5vw;
         font-weight: 400;
         line-height: 120%;
         letter-spacing: -0.03em;
         transition: all 2s ease;
      }

      #shortcut {
         --smpl-shortcut: #eee;
         --done-shortcut: #cbfb45;
         --wrong-shortcut: #ce2f2f;

         font-size: 5vw;
         text-align: center;
         // animation: change-text 3.5s infinite;
         color: var(--smpl-shortcut);
      }
   }
}
